n8n-workflows/templates/01-lead-generation.json
{
  "name": "Lead Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lead-capture-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"email\"]}}",
              "operation": "contains",
              "value2": "@"
            }
          ]
        }
      },
      "id": "validate-email",
      "name": "Validate Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "A:E",
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{$env[\"EMAIL_FROM\"]}}",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Добро пожаловать в Ede Story!",
        "text": "Спасибо за регистрацию! Мы свяжемся с вами в ближайшее время.",
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "content": "## Lead Generation Workflow\\n\\nЭтот workflow:\\n1. Принимает данные лида через webhook\\n2. Валидирует email\\n3. Сохраняет в Google Sheets\\n4. Отправляет welcome email\\n5. Создает задачу в CRM",
        "height": 200,
        "width": 300
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 100]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "edestory-lead-gen"
  },
  "tags": ["marketing", "leads", "edestory"]
}